// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  margin: 1px; // entry moves without this and Line 21
  width: $search_entry_width;
  padding: $base_padding+1 $base_padding+3;
  border-radius: $search_entry_height * 0.5; // half the height
  color: $white;
  background-color: rgba($white, 0.3);
  border: none;

  StLabel.hint-text {
    color: $white;
  }

  &:focus {
    margin: 0; // Entry moves without this and Line 8
    padding: $base_padding $base_padding+2; // 1px less to account for wider border
    border-width: 2px;
    border-style: solid;
    border-color: $entry_color;
    color: $dark_ui_900;
    background-color: rgba($white, 0.9);

    StLabel.hint-text {
      color: rgba($dark_ui_900, 0.4);
    }
  }

  .search-entry-icon { 
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }

}
